@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #fbfbfb;
}

h1,h2,h3 {
  line-height: 1.2em;
}


.xlg {
  font-size: 3.5rem;
}

.lg {
  font-size: 2.5rem;
}

.md {
  font-size: 1rem;
}

.sm {
  font-size: 0.8rem;
}

.fw-700 {
  font-weight: 700;
}

.fw-600 {
  font-weight: 600;
}

.fw-400 {
  font-weight: 400;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-40 {
  margin-top: 40px;
}
.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-40 {
  margin-bottom: 40px;
}

.text-gray {
  opacity: 0.8;
}

.button {
  border: none;
  background-color: #8bb7a2;
  color: #fbfbfb;
  padding: 1rem 2em;
}

.align-pos {
  padding-top: 60px;
  padding-left: 77px;
  padding-right: 77px;
  padding-bottom: 60px;
}

/* header section */
header {
  background-color: #636c79;
  color: #fbfbfb;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
}

nav [alt="brand-logo"] {
  height: 40px;
}

nav li {
  display: inline-block;
  font-size: var(--fs-md);
  margin: 20px;
  list-style: none;
  font-weight: 600;
}

.nav-button {
  cursor: pointer;
  padding: 0.5em 2.5em;
  border: 1px solid #fbfbfb;
  color: #fbfbfb;
  font-size: var(--fs-md);
  font-weight: 600;
  background-color: transparent;
}

.hero-section {
  gap: 3em;
  align-items: center;
  justify-content: center;
}

.hero-image {
  background-image: url("./images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.5em;
  height: 500px;
  width: 400px;
}

.hero-text {
  max-width: 600px;
  flex-direction: column;
}

[alt="mail-icon"] {
  height: 30px;
  margin: 0 10px;
}

.email-group {
  padding: 0.5em 0.5em;
  align-items: center;
  max-width: 500px;
  background-color: #fbfbfb;
}

.email-group input {
  width: 100%;
  height: 40px;
  padding: 1em;
  border: none;
  font-size: var(--fs-md);
}

.email-group button {
  width: 200px;
  font-size: var(--fs-md);
  font-weight: 600;
}

/* business-insights section */

.business-insights h1 {
  margin: auto;
  max-width: 600px;
}

.achivements {
  justify-content: space-evenly;
}

.achivement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.target-customer-img {
  background-image: url("./images/target\ customers.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

[alt="play-btn"] {
  color: #8bb7a2;
  background-color: #fbfbfb;
  padding: 1em;
  border-radius: 50%;
}

/* team intro section */

.features-intro h1 {
  margin: auto;
  width: 500px;
}

.intro-card {
  display: grid;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  grid-template-columns: 1fr 1fr;
}

.text-container {
  width: 90%;
  grid-column: span 1;
}

.text-container h2 {
  text-transform: capitalize;
}

.intro-image {
  grid-column: span 1;
  height: 500px;
  width: 90%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

#image-1 {
  background-image: url("./images/intro-1.jpg");
}

#image-2 {
  background-image: url("./images/intro-2.jpg");
}

#image-3 {
  background-image: url("./images/intro-3.jpg");
}

/* best employee section */

.employees .emp-content {
  width: 100%;
  justify-content: space-between;
}

.best-emp-title {
  width: 400px;
}

.best-emp-subtitle {
  width: 600px;
}

.emp-cards {
  justify-content: space-between;
}

.emp-card {
  width: 350px;
}

.emp-photo {
  width: 350px;
  height: 400px;
  background-color: #636c79;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

#photo-1 {
  background-image: url("./images/photo-1.jpg");
}

#photo-2 {
  background-image: url("./images/photo-2.jpg");
}

#photo-3 {
  background-image: url("./images/photo-3.jpg");
}

footer {
  background-color: #1b1d21;
  color: #fbfbfb;
}

.footer-logo {
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 2px solid #fbfbfb;
}

footer [alt="brand-logo"] {
  height: 40px;
}

.social  {
  margin-top: 9px;
  margin-inline: 10px;
  height: 30px;
}

.social img {
  height: 30px;
}

.footer-cards {
  justify-content: space-between;
}

.footer-card h2 {
  font-size: 1.2em;
}

.footer-card li {
  list-style: none;
}

@media screen and (max-width:1240px) and (min-width:840px) {

  .hero-image{
    width: 100%;
  }
    .emp-photo{
      width: 78%;
     }

     .hero-section{
      flex-direction: column;
      width: 100%;
     }

     .emp-card p{
      width: 72%;
     }

    .intro-image
     {
      width: 90%;
      object-fit: contain;
      margin-top: 4% ;
      margin-bottom: 4%;
     }
     
     .text-container{
      margin-left: 4%;
      margin-right: 2%;
      margin-top: 7%;
      width: 100% !important;
     }

     .features-intro h1{
      width: 100%;
      margin-left: 5%;
      margin-right: 5%;
     }


     .xlg{
      font-size: 3.5vw;
     }

     .md{
      font-size: 1.8vw;
     }

     .lg{
      font-size: 3vw;
     }
}

@media  screen and (min-width:858px) and (max-width: 1240px) {
  .intro-card{
    display: flex;
    flex-direction: column;
    gap:5%;
    margin-top: 4%;
  }
}

@media screen and (max-width:839px) and (min-width:500px) {

  .hero-image{
    width: 100%;
  }
  
  .main-nav{
  display: none;
  }

  .intro-card{
    display: flex;
    flex-direction: column;
    gap:5%;
  }
  .text-container{
    margin-top: 3%;
  }
  .button {
    margin-bottom:  4%;
  }

  .achivements {
    flex-direction: column;
    margin-top: 4%;
  }

  .achivement{
    margin-top: 4%;
  }

  .emp-cards {
    flex-direction: column;
    margin-top: 8%;
    align-items: center;
    width: 100%;
  }

  .emp-card{
    margin-top: 8%;
  }

  .emp-content {
    flex-direction: column;
  }

  .best-emp-subtitle {
    
    margin-top: 6%;
  }

  .best-emp-title {
    width: 100%;
    font-size: 5vw;
}
  
  .hero-section{
    flex-direction: column;
  }

  .main-nav{
    display: none;
  }

  .intro-image{
    width: 85%;

  }

  .footer-card{
    flex-basis: 30%;
    align-items: stretch;
    margin-top: 5%;
  }

  .footer-cards{
    flex-direction: row;
    flex-wrap: wrap;
    gap:1.5rem
    
  }

  p.best-emp-subtitle.text-gray.md {
    width: 105%;
  }

 

}
